.hidden {
  display: none
}

.center-contents {
	text-align: center;
}

.center-me {
  display: inline-block;
}

.text-cell {
  text-align: left;
}

.number-cell {
  text-align: right;
}

.block {
  display: block;
}

.spacey {
  padding: 2rem 1rem;
}

.little-spacey {
  padding: 1rem 1rem;
}

.big-bottom {
  margin-bottom: 2rem;
}

.jumbotron-background {
  background-color: #073642;
}

.stats .td {
  padding: 0.5rem 0.5rem;
}