.big-bottom {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.center-contents {
	text-align: center;
}

.center-me {
  display: inline-block;
}

.hidden {
  display: none
}

.jumbotron-background {
  background-color: #073642;
}

.limit-width {
  width: 80%;
}

.little-spacey {
  padding: 1rem 1rem;
}

.number-cell {
  text-align: right;
}

.spacey {
  padding: 2rem 1rem;
}

.text-cell {
  text-align: left;
}