.big-bottom {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.center-contents {
	text-align: center;
}

.center-me {
  display: inline-block;
}

.hidden {
  display: none
}

/* looks ugly on mobile
.jumbotron-background {
  background-color: #f5f5f5;
}
*/

.limit-width {
  width: 80%;
}

.little-spacey {
  padding: 1rem 1rem;
}

.number-cell {
  text-align: right;
}

.spacey {
  padding: 2rem 1rem;
}

.text-cell {
  text-align: left;
}

input[type="submit"] {
  margin-top:1rem;
}

table[data-sortable] th:after {
  display:inline;
  float:none
}