.big-bottom {
  margin-bottom: 2em;
}

.block {
  display: block;
}

.center-contents {
	text-align: center;
}

.center-me {
  display: inline-block;
}

.center-flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexone {
  flex:1;
}

.hidden {
  display: none
}

/* looks ugly on mobile
.jumbotron-background {
  background-color: #f5f5f5;
}
*/

.limit-width {
  width: 80%;
}

.little-spacey {
  padding: 1em 1em;
}

.number-cell {
  text-align: right;
}

.spacey {
  padding: 2em 1em;
}

.text-cell {
  text-align: left;
}

input[type="submit"] {
  margin-top:1em;
}

table[data-sortable] th:after {
  display:inline;
  float:none
}
